
:root {
  --index: calc(1vw + 1vh);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 600px;
    background: radial-gradient(at top left, #0922fd, #1e1e1e 70%);

}
.header-col-1 {
  max-width: 500px;
  justify-content: center;
  margin-top: -4px;
}
.header-col-2 {
  margin: 10px 30px;
  max-width: 500px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.header-name {
    font-family: "Open Sans";
    font-weight: 700;
    color: white;
    font-size: 100px;
    margin-right: 60px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.header-description {
  max-width: 445px;
  margin-right: 60px;
}
.header-desc {
    max-width: 100%;
    font-family: "Open Sans";
    font-weight: 400;
    color: white;
    font-size: 20px;

    text-align: right;
}
.header-button {
  background: rgba(0, 0, 0, 0);
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 60px;
  margin-top: 30px;
}

@media screen and (max-width: 1060px) {

    .header {
        height: 1200px;
    }
    .header-col-1 {
        order: 2;
    }
    .header-col-2 {
        align-items: center;
    }
    .header-desc {
        text-align: center;
    }
    .header-description {
        margin-right: 0;
    }
    .header-name {
        font-size: 60px;
    }

}
